body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    background-image: url("../img/star-space-tile.jpg");
    font-size: 18px;
    color: black;
    font-family: 'Arimo', sans-serif;
}

.clear {
    clear: both;
}

.nicebutton {
    background-color: #0A9BBD;
    color:white;
    padding:5px;
    border-radius: 5px;
    display: block;
    width: 100%;
}


.wrap {
    margin: 0 auto;
    max-width: 1400px;
}

.voteIcon {
   margin-left: 8px;
}
.form-control {
    padding: 5px;
    width: 250px;
}

#info {
    height: 100px;
}

h1.title {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed lightgray;
    font-size: 30px;
}

#logo img{
    float: left;
    height: auto;
    width:250px;
    position: inherit;
}

header#top {
    color: white;
    padding: 5px;
    min-height: 50px;
    height: auto;
    background-image: url("../img/Untitled-3.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header#top ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

header#top ul li {
    display: inline-flex;
    margin-left: 10px;
}

header#top ul li a {
    color: whitesmoke;
    background-color:rebeccapurple;
    text-decoration: none;
    border: 1px solid steelblue;
    padding: 10px 20px;
    border-radius: 5px;
}
.table
{
    direction: rtl;
}
#imagesize img{
    height: 250px;
    width:250px;
}
header#top ul li a:hover {
    text-decoration: underline;
    background-color: whitesmoke;
    color: black;
}
#moviedirection {
    direction: ltr;
}
main {
    margin-top: 50px;
    background-color: #eee;
    padding: 20px;
}

#movies tr th{
    text-align: right;
}

.likedButton:hover{
   color:cornflowerblue;
}
.dislikeButton:hover{
    color:rgb(203, 68, 55);
}

/************************************************************************************************/
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
    border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}
.post .post-heading .meta .title a {
    color: black;
}
.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}
.post .post-description p {
    font-size: 14px;
}
.post .post-description .stats {
    margin-top: 20px;
}
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-left: 15px;
}
.post .post-description .stats .stat-item .icon {
    margin-left: 8px;
}
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a {
    color: #454545;
}
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}
/*****************************************************************************************************/

#show_login{
    background-color:mediumpurple;
    color:white;
}

#loginform
{
    width:500px;
    height:330px;
    background-color:#585858;
    border-radius:3px;
    box-shadow:0px 0px 10px 0px #424242;
    padding:10px;
    box-sizing:border-box;
    font-family:helvetica;
    visibility:hidden;
    display:block;
    position: fixed;

    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
#loginform #close_login
{
    position:static;
    background-color:rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
}
#loginform #close_login:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    background-color:rgb(203, 68, 55);
    color:white;
}
#loginform p
{
    margin-top:40px;
    font-size:22px;
    color:#E6E6E6;
}
#loginform #login
{
    width:250px;
    height:40px;
    border:2px solid silver;
    border-radius:3px;
    padding:5px;
}
#loginform #pass
{
    margin-top:5px;
    width:250px;
    height:40px;
    border:2px solid silver;
    border-radius:3px;
    padding:5px;
}
#loginform #dologin
{
    margin-left:-5px;
    margin-top:10px;
    width:250px;
    height:40px;
    border:none;
    border-radius:3px;
    color:#E6E6E6;
    background-color:grey;
    font-size:20px;
}
.info-sub {
    font-size: 14px;
    color: black;
    width: 50%;
    background-color: rgb(247, 236, 138);
}
.calendar-table tr td{
    width : 200%;
}

.movieSelect {
    width : 100%;
    height: auto;
}

.seatsTable {
    width: 50%;
    !important;
}
.seatsTable td {
}
.seatsTable th{
    width: 50%;
    text-align: right;
    !important;
}

.dropDown{
    vertical-align: bottom;
    !important;
}
.dropDown option{
    vertical-align: bottom;
    !important;
}